* {
  font-family: 'calibri', serif;
  box-sizing: border-box;
}

#header-nav {
  background-color: #999;
  border-radius: 0;
  /*border: 2px solid #000;*/
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  /*font-size: 1.5em;*/
  color: #000;
  margin-top:0;
  margin-bottom: 0;
  line-height: .2;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
  border: 2px solid #000;
  color: #000;
  background: #fff;
  margin: 2px;
}
#nav-list a:hover {
  background: #E7E7E7;
}


#our-menu {
  font-weight: bold;
}

.section {
  background-color: #999;
  color: #000;
}
#chicken, #beef, #sushi {
  font-weight: bold;
}
.text-content, .back {
  font-weight: bold;
  padding: 10px;
}
/********** Desktop / Medium devices only **********/
/*@media (min-width: 992px) and (max-width: 1199px) {

}*/

/********** Tablet / Small devices only **********/
/*@media (min-width: 768px) and (max-width: 991px) {

}*/

/********** Mobile / Extra small devices only **********/
/*@media (max-width: 767px) {

}*/